<!DOCTYPE html>
<html>
<link rel = "icon" type="image/png" href="{{url_for('static', filename= 'logo1.png')}}"\>
<head>
<title>Anime</title>
</head>
<body background="Fondo 6.jpg" style="background-position:center">
<h1 align="center"><font color="black" size="100">Los Mejores Animes</font></h1>
<p> <font color="black" size="5%"> En esta pagina encontraran una lista de los 10 Animes mas vistos y recomendados por el publico amante a este tipo de animaciones, ente ellas encontraran nuevas y sobre todo las clasicas y del recuerdo.
Espero sea de su agrado.</p>
<p> Estas en la aplicacion:</p> <p> {{env}} </p>
<center>
<caption>Animes</caption>
</center>
<hr></hr>
<table cellpadding="0" width="100%" border="1" style="text-align:center;" >

<tr>
<td></td>
<td><font color="black"><b>Imagen</font></b></td>
<td><font color="black"><b>Nombre del Anime</font></b></td>
<td><font color="black"><b>Descripcion</font></b></td>
</tr>


<tr>
<td><font color="black">1</font></td>
<td><img src="{{ url_for('static', filename='death-note.jpg') }}" width="180"></td>
<td><font color="black"><b>Death-Note</font></b></td>
<td align="left"><font color="black"><b>Death Note</b> es una serie de manga escrita por <b>Tsugumi Oba</b> e ilustrada por <b>Takeshi Obata</b>, y cuya adaptacion al anime fue dirigida por <b>Tetsuro Araki</b>. Tambien cuenta con peliculas y videojuegos. La historia se centra en <b>Light Yagami</b>, un estudiante de bachillerato que encuentra un cuaderno con poderes sobrenaturales llamado <b>Death Note</b>, con el cual es capaz de matar personas si se escriben los nombres de estas en el mientras el portador visualiza mentalmente la cara de quien quiere asesinar. Light intenta eliminar a todos los criminales y crea un mundo donde no exista la maldad, pero sus planes serian frustrados por <b>L</b>, un famoso detective privado. Mira el anime<A HREF="https://animeflv.ru/anime/4674/death-note"><b><font color="red">Aqui</font></b></A></font></td>
</tr>

<tr>
<td><font color="black">2</font></td>
<td><img src="{{ url_for('static', filename='no game no life.jpg') }}" width="180"></td>
<td><font color="black"><b>No Game No Life</font></b></td>
<td align="left"><font color="black"><b>No Game No Life</b> es una serie de novelas ligeras japonesas escritas e ilustradas por <b>Yuu Kamiya</b>, Hasta abril de 2014, se han publicado 9 volumenes por <b>Media Factory</b> bajo su imprenta <b>MF Bunko J</b>. Una adaptación al manga por <b>Yuu Kamiya</b> con ilustraciones por <b>Mashiro Hiiragi</b> comenzo su serializacion en la revista de manga <b>Seinen</b> de <b>Media Factory Monthy Comic Alive</b> el 27 de enero de 2013.
La adaptacion al anime es realizada por <b>Madhouse</b> y Salia al aire el 9 de abril de 2014. En <i>Francia</i> se emitio en <b>Simulcast Televisivo</b> con pocos dias de diferencia respecto a la emision <i>Japonesa</i>. En <i>España</i> la serie se emite por <i>Netflix</i>. Mira el anime<A HREF="http://animeid.io/Anime/1621/no-game-no-life-2014"><b><font color="red">Aqui</font></b></A></font></td>
</tr>

<tr>
<td><font color="black">3</font></td>
<td><img src="{{ url_for('static', filename='blue exorcist.jpg') }}" width="180"></td>
<td><font color="black"><b>Blue Exorcist</font></b></td>
<td align="left"><font color="black"><b>Blue Exorcist</b> es una serie de manga de accion y sobrenatural escrita e ilustrada por <b>Kazue Kato</b>. Ha sido serializada en la revista <b>Jump Square</b> de la editorial <b>Shueisha</b> desde el 4 de abril de 2009. Hasta la fecha, la manga ha compilado un total de diecinueve volumenes en formato tankobon. Un <b>One-Shot</b> predecesor del maga, titulado <b>Miyama-Uguisu Yashika Jiken</b>, tambien fue publicado por <b>Jump Square</b> en 2008. La historia gira en torno a <b>Rin Okumura</b>, un adolescente que descubre que el y su hermano gemelo, <b>Yukio</b>, son hijos de <b>satanas</b>. Mira el anime<A HREF="http://jkanime.co/Anime/5795/ao-no-exorcist-subbed"><b><font color="red">Aqui</font></b></A></font></td>
</tr>

<tr>
<td><font color="black">4</font></td>
<td><img src="{{ url_for('static', filename='soma.jpg') }}" width="180"></td>
<td><font color="black"><b>shokugeki no soma</font></b></td>
<td align="left"><font color="black"><b>shokugeki no soma</b> es una serie de manga escrita por <b>Yuto Tsukuda</b> e ilustrada por<b> Shun Saeki, Yuki Morisaki</b> también ha colaborado con el maga, proveyendo las recetas para la misma. Ha sido serializada en la<b> revista Weekly Shonen Jump</b> desde el 26 de noviembre de 2012, y también ha sido compilada en 22 volúmenes <b>Tankobon</b> por <b>Shueisha</b>. Una adaptación a anime de <b>J.C.Staff</b> se emitió entre el 3 de abril de 2015 y el 25 de septiembre de 2015. Una segunda temporada se emitió entre el 2 de julio y el 24 de septiembre de 2016. La revista <b>Weekly Shonen Jump</b> de <b>Shueisha</b> anuncio que la tercera temporada del anime se estrenara en otoño del 2017. Mira el anime <A HREF="http://animeid.io/Anime/2644/shokugeki-no-souma-2015"><b><font color="red">Aqui</font></b></A></font></td>
</tr>

<tr>
<td><font color="black">5</font></td>
<td><img src="{{ url_for('static', filename='zodiac war.jpg') }}" width="180"></td>
<td><font color="black"><b>Juni Taisen Zodiac War</font></b></td>
<td align="left"><font color="black">En una ciudad de medio millón de personas que han sido eliminadas, 12 de los guerreros mercenarios más mortíferos con los nombres y atributos de los 12 animales del zodiaco chino se enfrentan entre sí en el 12° Torneo del Zodiaco, que se lleva a cabo cada 12 años. Cada guerrero debe tragar una gema venenosa, que comenzará a matarlos después de 12 horas. Para que se les conceda cualquier deseo de su elección, el ganador debe recuperar todas las gemas de los demás competidores antes de la fecha límite. Mira el anime<A HREF="https://holanime.com/watch-online/juuni-taisen-1-41319.html"><b><font color="red">Aqui</font></b></A></font></td>
</tr>

<tr>
<td><font color="black">6</font></td>
<td><img src="{{ url_for('static', filename='dragon ball super.jpg') }}" width="180"></td>
<td><font color="black"><b>Dragon Ball Super</font></b></td>
<td align="left"><font color="black"><b>Dragon Ball Super</b> es un anime producido por <b>Akira Toriyama</b> y por <b>Toei Animation</b>, que comenzá a transmitirse el 5 de julio de 2015. Es una medicuela del manga de Dragon Ball y la primera serie de televisión, que ofrece una nueva historia después de 18 años. Se establece después de la derrota de <b>Majin Boo</b>, cuando la Tierra se ha convertido una vez más en un lugar pacífico. Mira el anime<A HREF="https://holanime.com/list/dragon-ball-super-5.html"><b><font color="red">Aqui</font></b></A></font></td>
</tr>

<tr>
<td><font color="black">7</font></td>
<td><img src="{{ url_for('static', filename='naruto2.jpg') }}" width="180"></td>
<td><font color="black"><b>Naruto Shippuden</font></b></td>
<td align="left"><font color="black"><b>Naruto Shippuden</b> es la segunda parte del anime basado en el manga Naruto, de <b>Masashi Kishimoto</b> a partir del volumen número 28. Narra las aventuras de <b>Naruto Uzumaki</b> a su regreso a <b>Konoha</b>, tras haber estado dos años y medio entrenando con <b<Jiraiya</b>. Corresponde a la segunda parte del manga, que se inicia tras el <b>Kakashi Gaiden</b> y tras la finalización del relleno de Naruto en el anime. Mira el anime <A HREF="http://www.anitoonstv.com/naruto-shippuden"><b><font color="red">Aqui</font></b></A></font></td>
</tr>

<tr>
<td><font color="black">8</font></td>
<td><img src="{{ url_for('static', filename='one piece.jpg') }}" width="180"></td>
<td><font color="black"><b>One Piece</font></b></td>
<td align="left"><font color="black">Monkey D. Luffy, fue abandonado por su padre y obtuvo poderes elásticos al comer una Akuma no mi.
Ahora recorre los mares para atravesar la Grand Line, un mar peligroso y desconocido donde Gol D.Roger difunto rey de los piratas que escondió el One Piece.
Para lograrlo, Luffy viajará conociendo a gente con habilidades especiales, quienes viendo su determinación aceptarón convertirse en su tripulación. Mira el anime<A HREF="https://holanime.com/list/one-piece-6.html"><b><font color="red">Aqui</font></b></A>
</font></td>
</tr>

<tr>
<td><font color="black">9</font></td>
<td><img src="{{ url_for('static', filename='one puch man.jpg') }}" width="180"></td>
<td><font color="black"><b>One Punch Man</font></b></td>
<td align="left"><font color="black"><b>One Punch Man</b> es un <b>webcomic</b> de acción y comedia <b>japonés</b>, creado por el artista <b>One</b> e iniciado en el año 2009. El <b>webcomic</b> rápidamente ganó popularidad, llegando a alcanzar las 7.9 millones de visitas. Su nombre en japonés, <b>"Wanpanman"</b>, es un juego de palabras basado en el personaje infantil <b>Anpanman</b>, siendo <b>wanpan</b> una contracción de <b>wanpanchi</b> (<b>"un golpe"</b>).La historia se centra en <b>Saitama</b>, un superheroe calvo y extremadamente fuerte que se muestra abrumado por la ausencia de un verdadero desafio, y que continuamente busca a un oponente digno de su poder. Mira el anime<A HREF="http://animeid.io/Anime/6545/one-punch-man-h"><b><font color="red">Aqui</font></b></A></font></td>
</tr>

<tr>
<td><font color="black">10</font></td>
<td><img src="{{ url_for('static', filename='tokyo ghoul.jpg') }}" width="180"></td>
<td><font color="black"><b>Tokyo Ghoul</font></b></td>
<td align="left"><font color="black"><b>Tokyo Ghoul</b> es una serie de manga japonesa escrita e ilustrada por <b>Sui Ishida</b>, serializada en la revista <b>seinen Young Jump</b>, con entrega semanal desde septiembre del 2011. Compilado en 14 volumenes (<b>tankobon</b>) a partir de junio del 2014. Una adaptación al anime del <b>Studio Pierrot</b> comenzó a emitirse en <b>Tokyo MX</b> el 5 de julio de 2014. Funimation ha licenciado la serie de anime para el streaming de védeo y el hogar con distribución en <b>America</b>, mientras en <b>España</b> es Selecta Visión la encargada de dicha tarea.Mira el anime<A HREF="https://holanime.com/list/tokyo-ghoul-534.html"><b><font color="red">Aqui</font></b></A></font></td>
</tr>
<marquee behavior="alternate">Los Mejores Animes</marquee>
</table>

</body>
</html>

